<f:layout name="Default"/>
<f:section name="Main">
    <div class="row ligne1">
        <div class="container">
            <div class="col-md-9">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '30'}"/>
            </div>
            <div class="col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31'}"/>
            </div>
        </div>
    </div>
    <div class="row ligne2">
        <div class="container">
            <div class="col-md-9">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '32'}"/>
            </div>
            <div class="col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '33'}"/>
            </div>
         </div>
    </div>
    <div class="row ligne3">
        <div class="container">
            <main class="col-md-12" role="main">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
            </main>
        </div>
    </div>
</f:section>
