<f:layout name="Default"/>
<f:section name="Main">

	<section class="hero-unit-slider">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
	</section>
	
	<section>
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '30'}"/>
				</div>
				<div class="col-md-6">
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31'}"/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/>
		</div>
	</section>

	<section class="recent-works">
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '32'}"/>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '33'}"/>
				</div>
				<div class="col-md-8">
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '34'}"/>
				</div>
			</div>
		</div>
	</section>

	<section class="full-width-section no-margin">
		<div class="container">
			<div class="row">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '35'}"/>
			</div>
		</div>
	</section>

	<section class="testimonial-with-bg parallax">
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '36'}"/>
		</div>
	</section>

	<section class="clients">
		<div class="container">			
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '37'}"/>
		</div>
	</section>

</f:section>
