<div class="sidebar-nav">
    <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                 <f:if condition="{f:cObject(typoscriptObjectPath:'lib.navigation.main')}">
                    <button type="button" class="navbar-toggle navbar-toggle-menu" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <span class="visible-xs navbar-brand">Menu</span>
                </f:if>
                <span class="navbar-header-border-bottom"></span>
            </div>
            <div id="menu" class="navbar-collapse collapse sidebar-navbar-collapse">
                <f:cObject typoscriptObjectPath="lib.navigation.main"/>
            </div>
    </nav>
</div>
